CREATE DATABASE [QLHANGHOA]
GO

USE [QLHANGHOA]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 20/04/2026 7:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPHIEUNHAP] [varchar](20) NOT NULL,
	[MASANPHAM] [varchar](10) NOT NULL,
	[DONGIA] [float] NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 20/04/2026 7:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISANPHAM] [varchar](10) NOT NULL,
	[TENLOAISANPHAM] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAISANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 20/04/2026 7:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 20/04/2026 7:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NamSinh] [date] NULL,
	[DienThoai] [char](11) NULL,
	[Email] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[VaiTro] [nvarchar](20) NULL,
 CONSTRAINT [PK__NhanVien__2725D70A2353B6EA] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 20/04/2026 7:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [varchar](20) NOT NULL,
	[MANCC] [varchar](10) NULL,
	[NGAYNHAP] [date] NULL,
	[THANHTIEN] [float] NULL,
	[MANV] [varchar](10) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 20/04/2026 7:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [varchar](10) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[MALOAISANPHAM] [varchar](10) NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO_NGAY]    Script Date: 20/04/2026 7:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO_NGAY](
	[MASANPHAM] [varchar](10) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
 CONSTRAINT [PK_TONKHO_NGAY] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPHIEUNHAP], [MASANPHAM], [DONGIA], [SOLUONG]) VALUES (N'PN000001', N'SP01', 2000, 10)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPHIEUNHAP], [MASANPHAM], [DONGIA], [SOLUONG]) VALUES (N'PN000001', N'SP07', 2000, 2)
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAISANPHAM], [TENLOAISANPHAM]) VALUES (N'DM01', N'Tivi')
INSERT [dbo].[LOAISANPHAM] ([MALOAISANPHAM], [TENLOAISANPHAM]) VALUES (N'DM02', N'Tủ lạnh')
INSERT [dbo].[LOAISANPHAM] ([MALOAISANPHAM], [TENLOAISANPHAM]) VALUES (N'DM03', N'Máy giặt')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI]) VALUES (N'NCC001', N'Điện máy Chợ lớn', N'Quận 12')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI]) VALUES (N'NCC002', N'Nguyễn Kim', N'Quận Tân Bình')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI]) VALUES (N'NCC003', N'Thiên Hòa', N'Quận 12')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NamSinh], [DienThoai], [Email], [MatKhau], [VaiTro]) VALUES (N'0101001', N'Nguyễn Văn Hùng', CAST(N'1995-11-12' AS Date), N'0905123456 ', N'hungnv@dienmay.com', N'123456', N'Quản lý')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NamSinh], [DienThoai], [Email], [MatKhau], [VaiTro]) VALUES (N'0102001', N'Trần Thị Lan', CAST(N'1998-01-03' AS Date), N'0912345678 ', N'lannt@dienmay.com', N'123456', N'Nhân viên kho')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NamSinh], [DienThoai], [Email], [MatKhau], [VaiTro]) VALUES (N'0102002', N'Lê Minh Tuấn', CAST(N'1992-12-21' AS Date), N'0987654321 ', N'tuanlm@dienmay.com', N'123456', N'Nhân viên kho')
GO
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [THANHTIEN], [MANV]) VALUES (N'PN000001', N'NCC001', CAST(N'2025-12-19' AS Date), 24000, N'0101001')
GO
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MALOAISANPHAM], [DONGIA]) VALUES (N'SP01', N'Smart TV Samsung 55 inch 4K', N'DM01', 14500000)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MALOAISANPHAM], [DONGIA]) VALUES (N'SP02', N'Smart TV LG 50 inch 4K', N'DM01', 13500000)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MALOAISANPHAM], [DONGIA]) VALUES (N'SP03', N'Smart TV Sony 65 inch Google TV', N'DM01', 22500000)
GO
INSERT [dbo].[TONKHO_NGAY] ([MASANPHAM], [SOLUONGTON]) VALUES (N'SP01', 10)
INSERT [dbo].[TONKHO_NGAY] ([MASANPHAM], [SOLUONGTON]) VALUES (N'SP02', 0)
INSERT [dbo].[TONKHO_NGAY] ([MASANPHAM], [SOLUONGTON]) VALUES (N'SP03', 0)
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NhanVien]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MALOAISANPHAM])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISANPHAM])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[TONKHO_NGAY]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_SANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[TONKHO_NGAY] CHECK CONSTRAINT [FK_TONKHO_SANPHAM]
GO
