USE [QLSINHVIEN]
GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 07/04/2026 11:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[MaSinhVien] [varchar](50) NOT NULL,
	[MaMonHoc] [varchar](50) NOT NULL,
	[NamHoc] [char](10) NOT NULL,
	[HocKy] [int] NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC,
	[MaMonHoc] ASC,
	[NamHoc] ASC,
	[HocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 07/04/2026 11:29:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](50) NOT NULL,
	[TenKhoa] [nvarchar](100) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 07/04/2026 11:29:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [varchar](50) NOT NULL,
	[MaKhoa] [varchar](50) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 07/04/2026 11:29:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMonHoc] [varchar](50) NOT NULL,
	[TenMonHoc] [nvarchar](100) NULL,
	[SoTC] [int] NULL,
	[TinhChat] [nvarchar](20) NULL,
 CONSTRAINT [PK_MonhHoc] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 07/04/2026 11:29:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[MaLop] [varchar](50) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KetQua] ([MaSinhVien], [MaMonHoc], [NamHoc], [HocKy], [Diem]) VALUES (N'2001202264', N'0101101962', N'2025-2026 ', 1, 7)
INSERT [dbo].[KetQua] ([MaSinhVien], [MaMonHoc], [NamHoc], [HocKy], [Diem]) VALUES (N'2001240002', N'0101101962', N'2025-2026 ', 1, 7)
INSERT [dbo].[KetQua] ([MaSinhVien], [MaMonHoc], [NamHoc], [HocKy], [Diem]) VALUES (N'2001240244', N'0101101962', N'2025-2026 ', 1, 5)
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTP', N'Công nghệ thực phẩm')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CT', N'Chính trị')
GO
INSERT [dbo].[Lop] ([MaLop], [MaKhoa]) VALUES (N'14DHKT01', N'KT')
INSERT [dbo].[Lop] ([MaLop], [MaKhoa]) VALUES (N'14DHTH01', N'CNTT')
INSERT [dbo].[Lop] ([MaLop], [MaKhoa]) VALUES (N'14DHTH02', N'CNTT')
GO
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTC], [TinhChat]) VALUES (N'0101000605', N'Cơ sở dữ liệu', 3, N'Bắt buộc')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTC], [TinhChat]) VALUES (N'0101001565', N'Đồ họa ứng dụng', 3, N'Tự chọn')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTC], [TinhChat]) VALUES (N'0101003472', N'Nhập môn lập trình', 3, N'Bắt buộc')
GO
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [GioiTinh], [NgaySinh], [MaLop]) VALUES (N'2001202264', N'VƯƠNG CƯỜNG', N'Nam', CAST(N'2002-09-04T00:00:00.000' AS DateTime), N'15DHBM02')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [GioiTinh], [NgaySinh], [MaLop]) VALUES (N'2001240002', N'Nguyễn Đăng Nam', N'Nam', CAST(N'2006-06-07T00:00:00.000' AS DateTime), N'15DHTH03')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [GioiTinh], [NgaySinh], [MaLop]) VALUES (N'2001240244', N'Huỳnh Văn Lân', N'Nam', CAST(N'2006-06-25T00:00:00.000' AS DateTime), N'15DHBM01')
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FK__KetQua__MaMonHoc__4316F928] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FK__KetQua__MaMonHoc__4316F928]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FK__KetQua__MaSinhVi__412EB0B6] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FK__KetQua__MaSinhVi__412EB0B6]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoa]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
